<!-- navigation bar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="top" style="background-color:#fbfbfb;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ltoddy的博客 (。・`ω´・) 仔细一想......(慌张</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <!-- 支付宝模态框 -->
                <li>
                    <a data-toggle="modal" data-target="#zfb-modal">支付宝</a>
                    <div class="modal fade" id="zfb-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">我的支付宝二维码 -- 请随意打赏</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="http://img.vim-cn.com/e4/613d5777df07d14a3214528a2b2eeeb74f603c.jpg"
                                         alt="支付宝二维码" style="width: 95%;">
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </li>

                <li><a href="http://algo.site" target="_blank">博客</a></li>
                <li><a href="https://github.com/ltoddy" target="_blank">Github</a></li>
                <li><a href="https://www.gitbook.com/@ltoddy1" target="_blank">GitBook</a></li>
            </ul>
        </div>
    </div>
</nav> <!-- /navigation bar -->